body{
    margin: 0;
    text-align: center;
    background-color: rgb(233, 221, 221);
}
.logo{
    width: 5em;
    height: 5em;
    float: left;
    margin-left: 20px;
}
#title{
    color: #628E90;
    text-shadow: 3px 0 #3C2317;
}
